mat-form-field {
  position: relative;
}

.custom-error {
  position: absolute;
  left: 12px;
  bottom: 8px;
  font-size: 12px;
  color: #f44336;
  font-weight: 500;
  pointer-events: none;
  z-index: 10;
}

.mat-form-field-invalid .mat-mdc-form-field-label {
  color: #f44336 !important;
}