<header class="header d-flex justify-content-between align-items-center px-4">

    <div class="brand d-flex align-items-center">
        <img src="icon.jpeg" class="profile-pic me-2">
        <h2>Restaurant Management</h2>
    </div>

    <button mat-icon-button class="d-flex justify-content-center align-items-center" [matMenuTriggerFor]="menu">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="profile-pic">
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewProfile()">
            <mat-icon>account_circle</mat-icon>
            View Profile
        </button>
        <button mat-menu-item (click)="changePassword()">
            <mat-icon>lock</mat-icon>
            Change Password
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Sign Out
        </button>
    </mat-menu>

</header>