<div class="dashboard" *ngIf="dashboard">

  <div class="cards">

    <div class="card">
      <h3>Total Tables</h3>
      <p>{{ dashboard()?.totalTables }}</p>
    </div>

    <div class="card">
      <h3>Occupied</h3>
      <p>{{ dashboard()?.occupiedTables }}</p>
    </div>

    <div class="card">
      <h3>Total Sales</h3>
      <p>₹ {{ dashboard()?.totalSales }}</p>
    </div>

    <div class="card">
      <h3>Tax</h3>
      <p>{{ dashboard()?.taxPercent }}%</p>
    </div>

    <div class="card">
      <h3>Discount</h3>
      <p>{{ dashboard()?.discountPercent }}%</p>
    </div>

    <div class="card rating">
      <small>Average Rating</small>
      ⭐ <span>{{ dashboard()?.averageRating }}</span>

    </div>

  </div>

  <div class="waiters" *ngIf="dashboard()?.topWaiters?.length ?? 0> 0">
    <h2> Top 5 Waiters</h2>

    <div class="waiter-grid">
      <div class="waiter-card" *ngFor="let w of dashboard()?.topWaiters; let i = index">
        <div class="rank">#{{ i + 1 }}</div>
        <div class="info">
          <h4>{{ w.waiterName }}</h4>
          <p>Orders Served: <strong>{{ w.ordersServed }}</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>