<div class="layout">

  <app-navbar></app-navbar>

  <div class="body">

    <nav class="sidebar">

      <a routerLink="dashboard" routerLinkActive="active">
        <mat-icon>table_restaurant</mat-icon>
        All Tables
      </a>

      <a routerLink="occupied" routerLinkActive="active">
        <mat-icon>event_seat</mat-icon>
        Occupied Tables
      </a>

      <a routerLink="orders" routerLinkActive="active">
        <mat-icon>receipt_long</mat-icon>
        Orders Status
      </a>

    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>