<div class="login-page">

  <div class="login-image">
    <img src="login-restaurant.jpeg" alt="Restaurant">
  </div>

  <div class="login-form-side">
    <mat-card class="login-card">

      <h2>Restaurant Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          @if(loginForm.get('email')?.hasError('required')){
          <mat-error>Email is required</mat-error>
          }
          @if(loginForm.get('email')?.hasError('email')){
          <mat-error>Invalid email</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          @if(loginForm.get('password')?.hasError('required')){
          <mat-error>Password is required</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" class="w-100 login-btn">
          Login
        </button>

      </form>
    </mat-card>
  </div>

</div>