<mat-card class="p-4 shadow">
  <h2>{{ editId() ? 'Update Menu Item' : 'Add Menu Item' }}</h2>

  <form [formGroup]="form">

    <!-- NAME -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" (keypress)="allowMenuNameInput($event)">
      <mat-error *ngIf="form.get('name')?.hasError('required')">Name required</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('minlength')">Min 2 characters</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Max 50 characters</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">Only letters allowed</mat-error>
    </mat-form-field>

    <!-- PRICE -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" (keypress)="allowOnlyPriceInput($event)">
      <mat-error *ngIf="form.get('price')?.hasError('required')">Price required</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('min')">Must be greater than 0</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('max')">Cannot exceed 999999</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('pattern')">Invalid price format</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="isAvailable">Available</mat-checkbox>

    <br><br>

    <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">
      {{ editId() ? 'Update' : 'Add' }}
    </button>

    @if (editId()) {
    <button mat-button color="warn" (click)="reset()">Cancel</button>
    }

  </form>
</mat-card>

<!-- MENU LIST -->
<mat-card class="mt-4 p-3 shadow">
  <h3>Menu Items</h3>

  <app-search-box placeholderText="Search menu items..." (textChanged)="onSearch($event)">
  </app-search-box>

  @for (item of pagedData(); track item.id) {
  <div class="d-flex justify-content-between align-items-center border p-2 mb-2">
    <div>
      <strong>{{ item.name | titlecase }}</strong>
      — {{ item.price | currency:'INR':'symbol':'1.0-0' }}
      @if (!item.isAvailable) {
      <span class="text-danger">(Unavailable)</span>
      }
    </div>

    <div>
      <button mat-button color="primary" (click)="edit(item)">Edit</button>
      <button mat-button color="warn" (click)="delete(item.id)">Delete</button>
    </div>
  </div>
  } @empty {
  <div class="text-center p-3 text-muted">No items match your search.</div>
  }

  <div class="d-flex justify-content-between align-items-center mt-3">
    <button mat-button (click)="prev()" [disabled]="page() === 1">Prev</button>
    <span>Page {{ page() }} of {{ totalPages() }}</span>
    <button mat-button (click)="next()" [disabled]="page() === totalPages()">Next</button>
  </div>
</mat-card>