.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef2f7;
}

.card {
  width: 420px;
  padding: 20px;
  border-radius: 12px;
}

.full-width {
  width: 100%;
  margin-bottom: 14px;
}
